html{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

@font-face{
    font-family: gomablock;
    src: url(../fonts/gomarice_goma_block.ttf);
}

@font-face{
    font-family: varela;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

textarea{
    resize: none;
}

*{
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/* SVG */

.svg--varela{
    font-size: 60px !important;
    letter-spacing: 20px;
    font-family: 'varela', sans-serif;
    text-align: center;
    font-weight: bold;
}


/* BLOCKS */

.nav{
    background: #e74c3c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /*-webkit-animation: colorNav 10s infinite;
    animation: colorNav 10s infinite;*/
    /*box-shadow: 0px 3px 5px rgba(231, 76, 60, 0.5);*/
}

.nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-burger{
    display: none;
    outline: none;
    border: 0px;
    background: transparent;
    padding: 10px;
    height: 53.64px;
    width: 50px;
}

.section{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section--banner{
    padding: 30px 0;
    margin-top: 55px;
}

.section-image{
    width: 100%;
    /* padding: 20% 10%; */
}

.section-info{
    padding: 50px 0px;
}

.title{
    padding: 9% 20px;
    width: 100%;
}

.contact-form{
    width: 100%;
    padding: 10px;
}

.select{
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    position: relative;
    border-radius: 0px;
}

.select::after{
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    height: 0px;
    width: 0px;
    border-top: 10px solid rgba(0,0,0,0.3);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.footer{
    width: 100%;
    background: #e74c3c;
    /*animation: colorNav 10s infinite;*/
}

.job-item{
    text-decoration: none;
    font-size: 30px;
    color: #e74c3c;
}

.employee{
    padding: 20px;
    width: 100%;
    background: #fff;
    margin: 16px 0px;
    /*box-shadow: 0px 3px 5px rgba(0,0,0,0.05);*/
}

.supportpages{
    width: 100%;
    margin-top: 55px;
}

.supportpages::after{
    display: block;
    clear: both;
    content: "";
}

.support--sidebar{
    width: 20%;
    padding: 20px;
    height: calc(100% - 55px);
    overflow-y: scroll;
    float: left;
}
.support--links{
    list-style: none;
    padding: 0px;
}

.support-outline a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #363635;
    border-radius: 3px;
    font-size: 18px;
}

.support-outline a:hover{
    text-decoration: none;
    background: #ccc;
    color: #fff;
}

.sub-outlines{
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.sub-outlines li a{
    display: block;
    width: 100%;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.4);
    border-radius: 3px;
    font-size: 16px;
}

.support-outline:hover .sub-outlines{
    height: auto;
    overflow-y: scroll;
}

.support-outline a:active{
    text-decoration: none;
    background: #888888;
}

.support--main-content{
    width: 80%;
    height: calc(100vh - 55px);
    padding: 20px;
    overflow-y: scroll;
    float: left;
    border-left: 1px solid rgba(0,0,0,0.1);
}

.main-content-info{
    padding: 0 5% 0 5%;
}

.outline-info{
    padding: 3% 0;
}
.outline-info h1{
    margin-bottom: 40px;
}
.outline-info p{
    line-height: 30px;
    color: rgba(0,0,0,0.4);
}

/* ELEMENTS */

.nav__group{
    padding: 0 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav__group::after{
    clear: both;
    content: "";
    display: block;
}

.nav__brand a{
    color: #fff;
    letter-spacing: 4px;
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.brand__logo{
    width: 50px;
    height: auto;
}

.nav__group_link{
    padding: 0px;
    margin: 0 auto;
    list-style: none;
    display: block;
}

.nav__link{
    padding: 0px 10px;
    float: right;
    width: 20%;
    margin: auto 0px;
    height: 100%;
}

.nav__link:hover{
    background: rgba(255,255,255,0.4);
}

.nav__link a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 4px;
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.nav--dropdown{
    position: relative;
}

.nav__dropdown.active{
    display: block;
}

.nav--dropdown.lang:hover .nav__dropdown{
    display: block !important;
}

.nav--dropdown.game:hover .nav__dropdown{
    display:block !important;
}

.nav__dropdown{
    display: none;
    position: absolute;
    /*top: 53px;*/
    right: 0px;
    padding: 10px 0;
    list-style: none;
    background: #fff;
    color: #000;
    width: 150px;
    max-height: 200px;
    overflow-y: scroll;
}

.nav__dropdown li{
    width: 100%;
    text-align: center;
}

.nav__dropdown li a{
    display: block;
    padding: 5px 0px;
    height: 100%;
    width: 100%;
    color: #000;
    letter-spacing: 0px;
    transition: all 0.3 ease-in-out;
}

.nav__dropdown li a:hover{
    background: rgba(0,0,0,0.2);
    color: #fff;
}

.nav-burger span{
    display: block;
    height: 4px;
    margin: 5px 0;
    background: #fff;
}

.title__text{
    vertical-align: middle;
    color: #fff;
    font-size: 80px;
    text-align: center;
}

.title__text-md{
    color: #fff;
    font-size: 60px !important;
    margin: 30px 0;
}

.title__img{
    width: 600px;
    height: auto;
    margin: 40px auto;
    display: block;
}

.title__subtext{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.title__register{
    width: 500px;
    margin: 0 auto;
}

.title__register::after{
    content: "";
    display: block;
    clear: both;
}

.title__register div{
    float: left;
    padding: 0 10px;
}

.register__input{
    width: 70%;
}

.register__input input{
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
}

.register__button{
    width: 30%;
}

.register__button button{
    width: 100%;
    background: #ffe552;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ffe552;
    color: #363635;
}

.section-info__text{
    color: #5E5E5E;
}

p.section-info__text{
    font-size: 20px;
}

.section-info__image{
    display: block;
    width: 200px;
    margin: 50px auto;
}

.section-image__img{
    width: 100%;
    position: relative;
}

.section-image__img.img--rot10deg{
    transform: rotate(10deg);
}

.section-image__img.img--rotn10deg{
    transform: rotate(-10deg);
}

.section-image__img.img--dropshadow{
    -webkit-filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.1)); /* Safari */
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.1));
}

h1.section-info__text{
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 2px;
}

p.section-info__text{
    margin: 40px 0;
    line-height: 40px;
    text-align: justify;
}

.footer-info{
    padding: 80px 20px;
}

.footer-info-item{
    padding: 10px 0px;
    width: 100%;
    display: block;
}

.footer__group{
    list-style: none;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.footer__group::after{
    clear: both;
    content: "";
    display: block;
}

.footer__group li{
    float: left;
    width: 25%;
}

.footer__group li a{
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}

.frecre__img{
    width: 800px;
    margin: 0 auto;
    display: block;
}

.nav__sidebar--overlay{
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.contact-form__inptgroup{
    width: 100%;
}

.inptgroup__label{
    width: 100%;
    padding: 10px;
}

.inptgroup__input{
    width: 100%;
}

.inptgroup__input::after{
    content: "";
    display: block;
    clear: both;
}

.inptgroup__input .input{
    width: 50%;
    float: left;
    padding: 20px;
}

.inptgroup__input .dd{
    position: relative;
}

.inptgroup__input .input input{
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    width: 100%;
    font-size: 20px;
}

.inptgroup__input .dd::after{
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 45%;
    right: 30px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.select__dropdown{
    display: none;
    list-style: none;
    position: absolute;
    top: 45px;
    right: 0;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.select__dropdown option{
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

.select__dropdown.active{
    display: block;
}

.inptgroup__input textarea{
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 20px;
}

.inptgroup__input button{
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    border: 0px;
    font-size: 20px;
    background: #2b4c8e;
}

.inptgroup__input .input .wcbutton{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    background: #000;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}

.jobs__item{
    padding: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 50px;
}

.jobs__item:hover .desc__job p{
    opacity: 1;
}

.item__desc{
    overflow: hidden;
}

.desc__job{
    padding: 20px;
}

.desc__job p{
    font-size: 18px;
    line-height: 30px;
}

.employee__img{
    width: 150px;
    height: 150px;
    border: 3px solid rgba(0,0,0,0.1);
    margin: 30px auto;
    border-radius: 100%;
    overflow: hidden;
}

.employee__desc{
    width: 100%;
    text-align: center;
}

.employee__desc h3{
    list-style: none;
    padding: 0;
    color: rgba(0,0,0,0.5);
}

.employee__desc .desc__stats{
    list-style: none;
    padding: 0;
}

.employee__desc .desc__info{
    padding: 10px 0px;
    color: rgba(0,0,0,0.5);
}

.employee__desc .desc__stats li{
    padding: 5px 0px;
    color: rgba(0,0,0,0.7);
}

.employee__desc .desc__stats .stats{
    font-weight: bold;
}

/* MODIFIERS */

.nav--w70p{
    width: 70%;
}

.nav--lang-dropdown{
   position: relative; 
}

.nav--left{
    float: left;
}

.nav--right{
    float: right;
}

.section--frecrebg1{
    background: url(../resources/img/frecre-cover-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section--frecrebg4{
    background: url(../resources/img/frec-3.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section--wordcosmosbg1{
    background: url(../resources/img/sky.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section--wordcosmosbg3{
    background: url(../resources/img/table.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section--wordcosmosbg4{
    background: url(../resources/img/bp-bl.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section--transparent{
    background: transparent;
}

.section--relative{
    position: relative;
}


.section--gray{
    background: #f7f8fa;
}

.section--white{
    background: #fff;
}

.section--red{
    background: #e74c3c;
}

.section--blue{
    background: #2b4c8e;
}

.section--h500{
    height: 500px;
}

.section--text-white{
    color: #fff;
}

.section--text-white-faded{
    color: rgba(255,255,255,0.5);
}

.section--text-gray{
    color: #888888;
}

.section--text-blue{
    color: #2b4c8e;
}

.section--text-red{
    color: #e74c3c;
}

.section--text-yellow{
    color: #ffe552;
}

.section--text-center{
    text-align: center;
}

.section--gomablock{
    font-size: 60px !important;
    letter-spacing: 20px;
    font-family: 'gomablock', sans-serif;
    text-align: center;
}

.section--varela{
    font-size: 60px !important;
    letter-spacing: 0px;
    font-family: 'varela', sans-serif;
    text-align: center;
    font-weight: bold;
}

.section--thin .title{
    padding: 20px;
}

.section--pushtop{
    margin-top: 51px;
}

.img--absolute{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 80%;
}

.img--absolute:hover{
    z-index: 999;
    width: 100%;
    transform: rotate(0deg);
}

.bg--background-animate{
    position: relative;
    overflow: hidden;
    background: #e74c3c;
    font-weight: 700;
    -webkit-animation: colorAnimate 10s infinite;
    animation: colorAnimate 10s infinite;
}

.bg--out{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
}

.text--out{
    position: relative;
    top: 0;
    z-index: 2;
}

.input--w100p{
    width: 100% !important;
}

.section-info--p10px{
    padding: 10px;
}

.gplay{
    width: 5
    00px;
    margin: 0 auto 50px auto;
    height: auto;
}

.gplay .input{
    width: 300px;
    margin: 0 auto;
    float: none;
    padding: 0 20px;
}

.app__desc{
    padding: 0 30px;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: justify;
}

.pv{
    width: 100%;
    height: 800px;
}

/* BREAKPOINTS */

@media(max-width: 1024px){

    /* ELEMENTS */s

    .bg--out{
        width: 150% !important;
        left: -30%;
    }

    .svg--title{
        width: 100% !important;
    }

    .title__img{
        width: 100%;
    }

    .title__register{
        width: 100%;
    }

    .register__input{
        width: 100%;
    }

    .register__input input{
        margin-bottom: 10px;
    }

    .register__button{
        width: 100%;
    }

    .register__button button{
        margin-bottom: 10px;
    }

    h1.section-info__text{
        font-size: 40px !important;
    }

    .frecre__img{
        width: 100%;
    }

    .nav{
        display: none !important;
    }


    .nav__dropdown{
        background: #ccc;
        width: 100%;
        position: relative !important;
    }

    .nav__dropdown a{
        display: block !important;
        padding: 10px 0 !important;
    }

    .nav__sidebar--overlay.active{
        display: block;
        z-index: 998;
    }

    .inptgroup__input .input{
        width: 100% !important;
    }

    /* MODIFIERS */

    .nav--mobile{
        position: absolute;
    }

    .nav--sidebar{
        position: fixed;
        right: -200%;
        width: 250px;
        height: 100%;
        background: #fff;
        padding: 0;
    }

    .nav--sidebar.active{
        right: 0;
        z-index: 1000;
    }

    .nav--sidebar .nav__group_link li{
        float: none;
        display: block;
        padding: 0px;
        width: 100%;
    }

    .nav--sidebar .nav__group_link li a{
        color: #363635;
        font-size: 16px;
    }
    
    .nav--sidebar.nav--right .nav--lang{
        float: none;
    }

    .nav--sidebutton{
        display: block;
    }

    .text--out h1{
        font-size: 50px;
    }

    .bg--background-animate{
        height: auto;
    }

    .img--absolute{
        position: static;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer--mobile .footer__group{
        width: 100%;
    }

    .app__desc{
        width: 100% !important;
    }

    .pv{
        width: 100%;
        height: 300px;
    }

    .section-image.pv{
        padding: 20px 0;    
    }
    
}

@media (max-width: 500px){

    .gplay{
        width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .gplay .input{
        width: 100%;
        margin: 0 auto;
        float: none;
    }

}



